.doraemon .bodys {
  position: relative;
  top: -310px;
}

.doraemon .bodys .body {
  background:-webkit-gradient(linear, right center, left center, from(#07beea), to(#0096be),color-stop(50%,#0073b3),color-stop(75%,#00b0e0)); 
  background: -moz-linear-gradient(right center, #07beea, #0073b3 50%, #00b0e0 75%, #0096be 100%);
  background: linear-gradient(right center, #07beea, #0073b3 50%, #00b0e0 75%, #0096be 100%);
  border: 2px solid #333;
  width: 220px;
  height: 165px;
  top: 265px;
  left: 50px;
  position: absolute;
}

.doraemon .bodys .wraps {
  background: -webkit-linear-gradient(right top, #fff, #fff 75%, #eee 83%, #999 90%, #444 95%, #000);
  background: -moz-linear-gradient(right top, #fff, #fff 75%, #eee 83%, #999 90%, #444 95%, #000);
  background: linear-gradient(right top, #fff, #fff 75%, #eee 83%, #999 90%, #444 95%, #000);
  border: 2px solid #000;
  height: 170px;
  width: 170px;
  top: 230px;
  left: 72px;
  position: absolute;
  border-radius: 85px;
}

.doraemon .bodys .pocket {
  background: -webkit-linear-gradient(right top, #fff, #fff 70%, #f8f8f8 75%, #eee 80%, #ddd 88%, #fff);
  background: -moz-linear-gradient(right top, #fff, #fff 70%, #f8f8f8 75%, #eee 80%, #ddd 88%, #fff);
  background: linear-gradient(right top, #fff, #fff 70%, #f8f8f8 75%, #eee 80%, #ddd 88%, #fff);
  border: 2px solid #000;
  border-radius: 65px;
  height: 130px;
  width: 130px;
  position: relative;
  top: 250px;
  left: 92px;
}

.doraemon .bodys .pocket_mask {
  background: #fff;
  border-bottom: 2px solid #000;
  width: 134px;
  height: 60px;
  top: 125px;
  left: 92px;
  position: relative;
}

.doraemon .hand_right {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 272px;
  left: 248px;
}

.doraemon .hand_left {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 272px;
  left: -10px;
}

.doraemon .hand_right .arm {
  top: 17px;
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
}

.doraemon .hand_left .arm {
  background: #0096be;
  box-shadow: 5px -7px 10px rgba(0, 0, 0, 0.25);
  top: 17px;
  -webkit-transform: rotate(145deg);
      -ms-transform: rotate(145deg);
          transform: rotate(145deg);
}

.doraemon .arm {
  background: -webkit-gradient(linear,center top, center bottom,from(#07beea), to(#555),color-stop(85%,#07beea));
  background: -moz-linear-gradient(center top, #07beea, #07beea 85%, #555);
  background: linear-gradient(center top, #07beea, #07beea 85%, #555);
  border: 1px solid #000;
  box-shadow: -10px 7px 10px rgba(0, 0, 0, 0.35);
  height: 50px;
  width: 80px;
  position: relative;
  z-index: -1;
}

.doraemon .hand_right .circle {
  left: 40px;
  top: 32px;
}

.doraemon .hand_left .circle {
  left: -20px;
  top: 32px;
}

.doraemon .circle {
  background: -webkit-linear-gradient(right top, #fff, #fff 50%, #eee 70%, #ddd 80%, #999);
  background: -moz-linear-gradient(right top, #fff, #fff 50%, #eee 70%, #ddd 80%, #999);
  background: linear-gradient(right top, #fff, #fff 50%, #eee 70%, #ddd 80%, #999);
  border: 2px solid #000;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  position: absolute;
}

.doraemon .hand_right .arm_rewrite {
  left: 22px;
  top: -45px;
}

.doraemon .hand_left .arm_rewrite {
  background: #0096be;
  left: 60px;
  top: -45px;
}

.doraemon .arm_rewrite {
  background: #07beea;
  position: relative;
  width: 5px;
  height: 45px;
}

.doraemon .foot {
  width: 280px;
  height: 40px;
  top: -141px;
  left: 20px;
  position: relative;
}

.doraemon .foot .left {
  background: -webkit-linear-gradient(right top, #fff, #fff 75%, #eee 85%, #999);
  background: -moz-linear-gradient(right top, #fff, #fff 75%, #eee 85%, #999);
  background: linear-gradient(right top, #fff, #fff 75%, #eee 85%, #999);
  border: 2px solid #333;
  border-radius: 80px 60px 60px 40px;
  box-shadow: -6px 0 10px rgba(0, 0, 0, 0.35);
  width: 125px;
  height: 30px;
  position: relative;
  top: 65px;
  left: 8px;
}

.doraemon .foot .right {
  background: -webkit-linear-gradient(right top, #fff, #fff 75%, #eee 85%, #999);
  background: -moz-linear-gradient(right top, #fff, #fff 75%, #eee 85%, #999);
  background: linear-gradient(right top, #fff, #fff 75%, #eee 85%, #999);
  border: 2px solid #333;
  border-radius: 80px 60px 60px 40px;
  box-shadow: -6px 0 10px rgba(0, 0, 0, 0.35);
  width: 125px;
  height: 30px;
  position: relative;
  top: 31px;
  left: 141px;
}

.doraemon .foot .foot_rewrite {
  background: -webkit-linear-gradient(right top, #666, #fff 83%, #fff);
  background: -moz-linear-gradient(right top, #666, #fff 83%, #fff);
  background: linear-gradient(right top, #666, #fff 83%, #fff);
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  width: 20px;
  height: 10px;
  left: 130px;
  top: -11px;
  position: relative;
}

/*# sourceMappingURL=bodys.css.map */